@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    /* padding: 0;
    margin: 0; */
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
/* selectores de etiqueta */
body{
    background: linear-gradient(135deg, #e7e7e780 50%, transparent 0),linear-gradient(-135deg, #e7e7e780 50%, transparent 0);
    background-size: 2em 2em;
    background-color: #ffffff;
    opacity: 1;
    
}
h1{
    color: black;
    font-size: 3em;
}
h2{
    font-size: 28px;
}
h3{
    font-size: 24px;
}
p{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-align: center;
    }

/* section header h1{
    font-size: 32px;
} */
/* selectores descendentes */
.botonera{
    display: flex;
    background-color: black;
}

.botonera li a{
    color: white;
    font-size: 1.3em;
    justify-content: flex-end;
}
.botonera li a:hover{
    color: greenyellow;
}

.portada{
    width: 100%;
}

#abajo{
    display: flex;
    align-items: flex-end;
}

/* selector de grupo */
h1,
h2,
h3{
    font-weight: 400;
    text-align: center;
}

nav a img{
    width: 250px;
}

aside img{
    width: 80%;
}

footer div img{
    width: 250px;
    display: inline-block;
}

footer div ul li{
    color: white;
}

footer div a img{
    width: 60px;
}
footer div a svg{
    margin-right: 10px;
}

/* selectores de clase */
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}

/* Box model */
.contenedor{
    width: 90%;
    height: auto;
    margin: 20px auto;
    padding: 10px 10px;
}
.contenedor-sponsors{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px black;
    border-radius: 10px;
    margin: 5px;
    padding: 0px 0px 15px 25px; 
    width: 25%;
} 

.contenedor-sponsors-inicio{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 2px black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px 0px;
}
.w-100{
    display: flex;
    width: 10%;
}
.w-img{
    width: 10%;
}

.contenedor-footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    margin-top: 10px;
    width: 100%;
}

/* solapa trabajos realizados */

.trabajos-realizados{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    /* margin-bottom: 20px; */


}
        .trabajos-realizados figure{
            width: 30%;
            border: solid 2px gray;
            border-radius: 10px;
            margin: 10px;
        }
            .trabajos-realizados figure figcaption{
                color: greenyellow;
                font-size: 2.2rem;
            }
            .trabajos-realizados figure img{
                width: 90%;
            }

/* solapa nosotros */

.contenedor-general{
    display: flex;
    position: relative;
    justify-content: space-between;
}

.contenedor-p{
    display: flex;
    width: 100%;
}
.contenedor-fotos{
    border: solid 2px black;
    border-radius: 10px;
    padding: 26px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.contenedor-aside{
    border: solid 2px black;
    border-radius: 10px;
    background-color: white;
    margin: 5px 5px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.grid1{
    display: grid;
    width: 100%;
    grid-template-columns: 7fr 1fr;
    grid-template-rows: 20% 40% 40%;
    grid-template-areas:
    "encabezado sponsors"
    "parrafo sponsors"
    "fotos sponsors";
}

.card-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.w-30{
    width: 30%;
}
#titulo{
    grid-area: encabezado;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 3em;
    width: 100%;
}
#parrafo{
    grid-area: parrafo;
    display: flex;
    margin-top: 10px;
}
#fotos{
    grid-area: fotos;
    display: flex;
}

#sponsors{
    grid-area: sponsors;
    display: flex;
}

/* solapa mecanizados */

#mecanizados{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.contenedor-aside-mecanizados{
    border: solid 2px black;
    border-radius: 10px;
    background-color: white;
    flex-direction: column;
    margin: 15px 5px 0px 10px;
    height: 110%;
    align-items: center;
    justify-content: space-around;
    
}

.margin-top{
    margin-top: 7px;
}

.grid2{
    display: grid;
    width: 100%;
    grid-template-columns: 7.5fr 1fr;
    grid-template-rows: 7.50% 80%;
    grid-template-areas:
    "encabezado sponsors"
    "fotos sponsors";
}


/* solapa trabajos realizados */

.grid3{
    display: grid;
    width: 100%;
    grid-template-columns: 11fr 1.4fr;
    grid-template-rows: 6% 90%;
    grid-template-areas:
    "encabezado sponsors"
    "fotos sponsors";
}

.contenedor-aside-trabajos{
    border: solid 2px black;
    border-radius: 10px;
    background-color: white;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 15px;
    margin-right: 7px;
    height: 100%;
}

/* solapa contacto */
.grid4{
    display: grid;
    width: 100%;
    grid-template-columns: 1.5fr 4fr 0.6fr;
    grid-template-rows: 0.3fr 3fr 3fr;
    grid-template-areas: 
    "encabezado encabezado encabezado"
    "mapa mapa mapa"
    "form entrada sponsors";
}

#mapa{
    display: grid;
    justify-items: center;
    grid-area: mapa;
    margin-bottom: 10px;
    background-color: black;
    width: 99%;
}

#form{
    display: grid;
    padding: 10px 0px;
    flex-direction: row;
    grid-area: form;
}

#foto-entrada{
    display: grid;
    grid-area: entrada;
    flex-direction: row;
    width: 100%;
}

#sponsors-contacto{
    grid-area: sponsors;
    display: flex;
}

main div form div{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.contenedor-sponsors-contacto{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    border: solid 2px black;
    border-radius: 10px;
    margin: 5px;
    width: 90%;
} 

/* Media queries */
@media only screen and (max-width: 1024px) {
    .grid4{
        display: grid;
        width: 100%;
        grid-template-columns: 1.5fr 4fr;
        grid-template-rows: 0.7fr 6fr 6fr 1.5fr;
        grid-template-areas: 
        "encabezado encabezado"
        "mapa mapa"
        "form entrada"
        "sponsors sponsors";
    }
    .contenedor-sponsors-contacto{
        display: flex;
        border: solid 2px black;
        border-radius: 10px;
        margin: 14px 5px 0px 5px;
        width: 98%;
        flex-direction: row;
    } 
    .contenedor-sponsors-contacto img{
        width: 12%;
    }
}

@media only screen and (max-width: 768px) {
    .grid4{
        display: grid;
        width: 98%;
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 3fr 3fr 2fr 0.7fr;
        grid-template-areas: 
        "encabezado"
        "mapa"
        "entrada"
        "form"
        "sponsors";
    }
}

@media only screen and (max-width: 676px) {
    p{
        font-size: 1.4rem;
        line-height: 1.7rem;
    }
    .grid3{
        grid-template-columns: 1fr;
        grid-template-areas:
        "encabezado"
        "fotos";
    }
    .trabajos-realizados figure{
        width: 45%;
    }
    #sponsors{
        display: none;
    }
    .grid2{
        grid-template-columns: 1fr;
        grid-template-rows: 7% 80%;
        grid-template-areas:
        "encabezado"
        "fotos";
    }
    .card-row{
        flex-direction: column;
       }
       .grid1{
        grid-template-columns: 1fr;
        grid-template-rows: 20% 40% 40%;
        grid-template-areas:
        "encabezado"
        "parrafo"
        "fotos";
    }
    .w-30{
        width: 100%;
    }
    .contenedor-sponsors-contacto img{
        width: 20%;
    }

}

@media only screen and (max-width: 600px) {
    
    p{
        font-size: 1.4rem;
        line-height: 1.7rem;
    }

   .w-img{
    width: 20%;
   }

   footer div img{
        display: none;
   }
   /* footer div ul li{
    justify-content: left;
   } */
 .contenedor-general{
    justify-content: center;
    }
}

@media only screen and (max-width: 415px) {
    p{
        font-size: 1.3rem;
        line-height: 1.6rem;
        }
    .trabajos-realizados figure{
        width: 100%;

    }
}