*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-image: url(../img/bg-img.webp);
    background-size: cover;
}
h1{
    color: $mainColor;
    font-size: $textXl;
    text-align: center;
}
h2{
    font-size: $textLg;
    text-align: center;
}
h3{
    font-size: $textMd;
}
p{
    font-weight: $fontRegular;
    font-size: $textSm;
    line-height: 1.2em;
    text-align: center;
    padding: 8px;
}
nav a img{
    width: 250px;
}
#titulo{
    grid-area: encabezado;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 3em;
    width: 100%;
}
#parrafo{
    grid-area: parrafo;
    display: flex;
    margin-top: 10px;
}
#fotos{
    grid-area: fotos;
    display: flex;
}
#sponsors{
    grid-area: sponsors;
    display: flex;
}
.btn-red{
    background-color: red !important;
    color: white !important;
    &:hover{
        background-color: darkred !important;
    }
}
.btn-green{
    background-color: green !important;
    color: white !important;
    &:hover{
        background-color: darkgreen !important;
    }
}