.contenedor-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    img{
        width: 50%;
    }
}
.contenedor-aside-inicio{
    background-color: $secondaryColor;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 2px $mainColor;
    border-radius: 10px;
    margin: 10px;
    padding: 10px 0px;
    img{
        width: 10%;
    }
}
.contenedor-inicio{
    display: flex;
    flex-direction: row;
    margin: 0px 10px;
}
.borde{
    width: 40%;
    border: solid 3px gray;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 10px;
}
